*{
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}
body{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2c3a47;
}
.currency-converter{
  width: 400px;
  border-radius: 8px;
  color: white;
  background-color: black;
  border-radius: 8px;
  padding: 10px 20px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
h1{
  font-weight: 550;
  text-transform: uppercase;
  font-size: 20px;
  padding: 10px 0px;
  margin-bottom: 15px;
  color: rgb(96, 96, 251);
  text-align: center;
  border-bottom: 2px dashed #ccc;
  border-top: 2px dashed #ccc;

}
.box{
  width: 200px;
  height: 200px;
  background-image: url(assets/currency.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px white solid;
  margin-left: 76px;
  border-radius: 50%;
  margin-bottom: 15px;
}
.input-container{
  margin-bottom: 15px;
}
label{
  display: block;
  font-size: 17px;
  color: #ccc;
  font-weight: 600;
  margin-bottom: 10px;
}
input{
  width: 100%;
  height: 40px;
  color: black;
  border-radius: 10px;
  outline: none;
  border: none;
  padding: 20px;
  font-size: 14px;
  border: 1px #ccc solid;
}
select{
  width: 100%;
  height: 40px;
  border-radius: 10px;
  padding: 10px;
  font-size: 14px;
  font-weight: 500;
  outline: none;
  border: none;
    border: 1px #ccc solid;

}
input:focus,select:focus{
 border: 3px solid rgb(96, 96, 251);
}
.result{
   border: 1px white solid;
   padding: 20px;
   color:  rgb(96, 96, 251);
   border-radius: 10px;
   margin-bottom: 10px;
}

.result p{
  font-weight:bold ;
  text-align: center;
}
